Allure_Generated_Files
Config
Pages/__pycache__
Tests/__pycache__
Config/__pycache__
.pytest_cache
texst.py
Tests/HomePage_ContactUs/Footer/__pycache__
Tests/HomePage_ContactUs/Home/__pycache__
Tests/HomePage_ContactUs/Home/__pycache__
Tests/About_Us_Blogs/About_Us/__pycache__
Pages/HomePage_ContactUs/Home/__pycache__
Tests/About_Us_Blogs/Blogs/__pycache__
Pages/HomePage_ContactUs/Footer/__pycache__